<div class='container-fluid' style="margin-top: 20px;">
    <div class='col-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/1.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">{{dictionary.passingOver50}}</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/2.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">{{dictionary.since1980}}</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/3.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">{{dictionary.qualifiedInstructors}}</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>