<div class='container-fluid'>
    <div class='col-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/1.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">Zdawalność powyżej 50%</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/2.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">Na rynku od 1980 roku</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="slide-image" src="assets/images/3.jpg">
                </div>
                <div class="carousel-caption">
                    <h3 style="color: white">Wykształceni instruktorzy</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>