<mat-toolbar color="accent" class="mat-elevation-z12">
    <mat-toolbar-row>
        <button mat-button [routerLink]="['../course-activities']">{{dictionary.allActivities}}</button>
        <button mat-button [routerLink]="['../course-activities-mine']">{{dictionary.myActivities}}</button>
    </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngIf="activities.data.length==0">
    <div class="center-container-with-top-margin">
        <h4>{{dictionary.youAreNotSignedForAnyActivities}}</h4>
    </div>
</ng-container>

<ng-container *ngIf="activities.data.length>0">
    <div class="center-container-with-top-and-bottom-margin">
        <h4>{{dictionary.belowAllActivitiesYourAreSignedTo}}</h4>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="activities">

            <ng-container matColumnDef="dateOfActivity">
                <mat-header-cell *matHeaderCellDef>{{dictionary.date}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateOfActivity.substring(0,10)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="timeOfActivity">
                <mat-header-cell *matHeaderCellDef>{{dictionary.hour}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateOfActivity.substring(11,16)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="instructor">
                <mat-header-cell *matHeaderCellDef>{{dictionary.instructor}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.instructor.name}} {{element.instructor.surname}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rate">
                <mat-header-cell *matHeaderCellDef>{{dictionary.rate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <form #form="ngForm">
                        <bar-rating name="rating" [(rate)]="element.rate" disabled="true" [max]="5" [theme]="'stars'"></bar-rating>
                    </form>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef>{{dictionary.comment}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.comment}}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>
</ng-container>