<div class="center-container-with-top-and-bottom-margin">
    <h4>{{dictionary.ourPortalAllowsMessaging}}</h4>
</div>

<mat-divider></mat-divider>

<div class="messages-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="pick-user-container">
                <mat-toolbar color="accent" class="mat-elevation-z8">
                    <mat-toolbar-row>
                        <div class="my-menu">
                            <span>{{showMode}}</span>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="setMode('admins')">
                                    <mat-icon>verified_user</mat-icon>
                                    <span>{{dictionary.admins}}</span>
                                </button>
                                <button mat-menu-item (click)="setMode('instructors')">
                                    <mat-icon>book</mat-icon>
                                    <span>{{dictionary.instructors}}</span>
                                </button>
                                <button mat-menu-item (click)="setMode('users')">
                                    <mat-icon>supervised_user_circle</mat-icon>
                                    <span>{{dictionary.users}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>
                <ng-container *ngIf="mode==='admins'">
                    <mat-table #table [dataSource]="admins" class="mat-elevation-z8">
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.login}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.username}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.name}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="surname">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.surname}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.surname}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{ 'selected': row === selectedRow }" (click)="selectRow(row)">
                        </mat-row>
                    </mat-table>
                </ng-container>

                <ng-container *ngIf="mode==='instructors'">
                    <mat-table #table [dataSource]="instructors" class="mat-elevation-z8">
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.login}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.username}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.name}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="surname">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.surname}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.surname}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{ 'selected': row === selectedRow }" (click)="selectRow(row)">
                        </mat-row>
                    </mat-table>
                </ng-container>
                <ng-container *ngIf="mode==='users'">
                    <mat-table #table [dataSource]="users" class="mat-elevation-z8">
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.login}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.username}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.name}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="surname">
                            <mat-header-cell *matHeaderCellDef>{{dictionary.surname}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="switchReceiver(element.username)">
                                {{element.surname}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{ 'selected': row === selectedRow }" (click)="selectRow(row)">
                        </mat-row>
                    </mat-table>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-8">
            <ng-container *ngIf="noMessagesYet">
                <div class="center-container">
                    <span>{{dictionary.chooseUserToStartChat}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!noMessagesYet">
                <ng-container *ngIf="messages.length===0">
                    <div class="center-container">
                        <span>{{dictionary.noMessagesWithThisUserYet}}</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="messages.length>0">
                    <div class="chat-container">
                        <ng-container *ngFor="let message of messages">
                            <span class="message-sender"
                                [ngClass]="{'message-sender-right': myUsername === message.sender.username}">
                                {{message.sender.name}} {{message.sender.surname}}</span>
                            <mat-card class="message" id="message-{{message.id}}"
                                [ngClass]="{'message-right': myUsername === message.sender.username}">
                                {{message.content}}
                            </mat-card>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="new-message-container">
                    <mat-card class="mat-elevation-z8" style="border-radius: 25px;">
                        <mat-form-field class="message-form">
                            <input matInput placeholder="{{dictionary.newMessage}}" maxlength=256 #inputmessage
                                [(ngModel)]="newMessageContent">
                            <mat-hint>{{inputmessage.value.length}} / 256</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button id="send-button" color="primary" (click)="sendMessage()"
                            (click)="newMessageContent=''">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-card>
                </div>
            </ng-container>
        </div>
    </div>