<mat-card class="mat-elevation-z12 my-card">
  <mat-card-header>
    <div class="my-title" style="text-align: center; width: 300px;">
      <h5>{{dictionary.signInToPage}}</h5>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="my-form">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.login}}" [(ngModel)]="username" [formControl]="usernameFC"
                [errorStateMatcher]="matcher" name="username" required>
              <mat-error>
                {{dictionary.loginDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.password}}" [(ngModel)]="password" [formControl]="passwordFC"
                [errorStateMatcher]="matcher" type="password" name="password" required>
              <mat-error>
                {{dictionary.passwordDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div *ngIf="loginFailed === true">
              <span style="color: #b30c49"><i>{{dictionary.wrongUsernameOrPassword}}</i></span>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="center-container-no-top-margin">
      <button mat-raised-button (click)="login()" color="accent"
        [disabled]="usernameFC.invalid || passwordFC.invalid">{{dictionary.signInToPage}}</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<div class="center-container">
  <span>{{dictionary.youDontHaveAnAcc}}</span>
  <br>
  <button mat-raised-button class="register-button" color="accent" [routerLink]="['/register']">{{dictionary.signUp}}</button>
</div>