<div class="header-container">
    <h4>Skontaktuj się z nami za pomocą poniższego formularza.</h4>
    <h5>Nasza administracja wyśle wiadomość e-mail z odpowiedzią tak szybko jak to będzie możliwe.</h5>
</div>

<mat-card class="contact-card">
    <div class="contact-container">
        <label for="myTextArea">Tu wpisz swoją wiadomość</label>
        <textarea [(ngModel)]=contact.content maxlength=256 class="form-control" #myTextArea rows="5"></textarea>
        <mat-hint>{{myTextArea.value.length}} / 256</mat-hint>
        <button mat-raised-button color="primary" class="send-button" (click)="sendContactRequest()" (click)="lockButton()"
        [disabled]="buttonLocked">Wyślij</button>
    </div>
</mat-card>