<div class="header-container">
    <h4>{{dictionary.contactWithUsUsingThisForm}}</h4>
    <h5>{{dictionary.ourAdminsWillReply}}</h5>
</div>

<mat-card class="contact-card mat-elevation-z12">
    <div class="contact-container">
        <label for="myTextArea">{{dictionary.yourMessageThere}}</label>
        <textarea [(ngModel)]=contact.content maxlength=256 class="form-control" #myTextArea rows="5"></textarea>
        <mat-hint>{{myTextArea.value.length}} / 256</mat-hint>
        <button mat-raised-button color="accent" class="send-button" (click)="sendContactRequest()" (click)="lockButton()"
        [disabled]="buttonLocked">{{dictionary.send}}</button>
    </div>
</mat-card>