<mat-toolbar style="z-index: 1 !important" color="accent" class="mat-elevation-z12">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['./course-all-list']">{{dictionary.allCourses}}</button>
    <button mat-button [routerLink]="['./course-mine-list']">{{dictionary.myCourses}}</button>
    <ng-container *ngIf="isInstructor">
      <button mat-button [routerLink]="['./course-instructed']">{{dictionary.coursesManagedByMe}}</button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>