<div id="bg">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="my-spacer"></span>
      <ng-container *ngIf="!isLoggedIn">
        <button mat-button [routerLink]="['/login']">Zaloguj się</button>
        <button mat-button [routerLink]="['/register']">Zarejestruj się</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button mat-button [routerLink]="['/course']">Kursy</button>
        <button mat-button [routerLink]="['/profile']">{{this.username}}</button>
        <button mat-button (click)="signOut()">Wyloguj się</button>
      </ng-container>
      <button mat-icon-button (click)="changeTheme()">
        <mat-icon>format_paint</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>