<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="allUsers">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef>Uprawnienia</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roles}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Akcja</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteUser(element.username)">
            <mat-icon>delete</mat-icon>
            <span>Usuń użytkownika</span>
          </button>
          <button mat-menu-item (click)="makeUserAdmin(element.username)">
            <mat-icon>verified_user</mat-icon>
            <span>Nadaj uprawnienia administratora</span>
          </button>
          <button mat-menu-item (click)="makeUserInstructor(element.username)">
            <mat-icon>book</mat-icon>
            <span>Nadaj uprawnienia instruktora</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="allUsersDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: allUsersDisplayedColumns;"></mat-row>
  </mat-table>
</div>