<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="myCourses">

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Kategoria</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="startdate">
            <mat-header-cell *matHeaderCellDef>Data rozpoczęcia</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startdate.substring(0,10)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="selectCourseId(element.id)"
                    [routerLink]="['../course-instructed-activities']">Zajęcia</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="myCoursesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myCoursesDisplayedColumns;"></mat-row>

    </mat-table>
</div>