/* You can add global styles to this file, and also import other style files */
//@import "./theme.scss";

@import "~@angular/material/theming";
@import '~ngx-bar-rating/themes/br-stars-theme';

@include mat-core();


$default-primary: mat-palette($mat-teal, 500);
$default-accent: mat-palette($mat-teal, 700);
$default-warn: mat-palette($mat-amber, 700);
$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);

$dark-primary: mat-palette($mat-purple, 700);
$dark-accent: mat-palette($mat-purple, 800);
$dark-warn: mat-palette($mat-pink, 800);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.default-theme {
  @include angular-material-theme($default-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.full-width {
  width: 100%;
}

.mat-toolbar {
  position: relative;
}

.full-width-with-margin {
  width: 100%;
  margin-top: 5px;
}

.my-icon {
  padding: 0 14px;
}

.my-spacer {
  flex: 1 1 auto;
}

.my-card {
  width: 400px;
  margin: 5% auto;
}

.course-card {
  width: 600px;
  margin: 5% auto;
}

.my-second-card {
  width: 400px;
  margin: 20% auto;
  margin-left: 350px;
}

.mat-card-title {
  font-size: 16px;
}

.center-container {
  margin-top: 10px;
  text-align: center;
}

.center-container-with-top-margin {
  margin-top: 25px;
  text-align: center;
}

.center-container-with-top-and-bottom-margin {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.center-container-no-top-margin {
  text-align: center;
}

.contact-card {
  width: 500px;
  margin: 2% auto;
}

.header-container {
  margin-top: 15px;
  text-align: center;
}

.center-button {
  margin-top: 10px;
  text-align: center;
}
