<mat-card class="my-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title style="text-align: center;"><div class="my-title" style="text-align: center; width: 350px;">
      <h5>{{dictionary.signUp}}</h5>
    </div>
  </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="my-form">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.login}}" [(ngModel)]="username" name="username" [formControl]="usernameFC"
                [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="usernameFC.hasError('required')">
                {{dictionary.loginDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.name}}" [(ngModel)]="name" type="name" [formControl]="nameFC" name="name"
                [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="nameFC.hasError('required')">
                {{dictionary.nameIsDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.surname}}" [(ngModel)]="surname" [formControl]="surnameFC" name="surname"
                [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="surnameFC.hasError('required')">
                {{dictionary.surnameIsDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.email}}" [(ngModel)]="email" name="email" [formControl]="emailFC"
                [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="emailFC.hasError('required')">
                {{dictionary.emailIsDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="{{dictionary.pesel}}" [(ngModel)]="pesel" name="pesel" [formControl]="peselFC"
                [errorStateMatcher]="matcher" required>
              <mat-error>
                {{dictionary.peselIsDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput [matDatepicker]="picker" [max]="maxDate" [formControl]="birthdateFC"
                [errorStateMatcher]="matcher" placeholder="{{dictionary.dateOfBirth}}" [(ngModel)]="birthdate" name="birthdate"
                required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="birthdateFC.hasError('required')">
                {{dictionary.dateOfBirthIsDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width-with-margin">
              <input matInput placeholder="dictionary.password" [(ngModel)]="password" [formControl]="passwordFC" [errorStateMatcher]="matcher" type="password" name="password" required>
              <mat-error>
                {{dictionary.passwordDemanded}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <span style="color: #b30c49">{{errorMsg}}</span>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="center-container-no-top-margin">
      <button mat-raised-button (click)="register()" color="accent" [disabled] = "buttonLocked || usernameFC.invalid || nameFC.invalid || surnameFC.invalid || emailFC.invalid || peselFC.invalid || birthdateFC.invalid || passwordFC.invalid"
        (click)="lockButton()">{{dictionary.signUp}}</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<div class="center-container">
  <span>{{dictionary.ouAlreadyHaveAnAcc}}</span>
  <br>
  <button mat-raised-button class="login-button" color="accent" [routerLink]="['/login']">{{dictionary.signInToPage}}</button>
</div>